body {
    text-align: center;
    background: black;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(27, 230, 230);
}

p {
    font-size: 22px;
}

input {
    border: 0;
    padding: 10px;
    font-size: 18px;
}

#videoContainer {
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

iframe {
    pointer-events: none; /* Disables user interaction */
}